* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.header {
  padding-top: 32px;
  padding-bottom: 64px;
  background-image: linear-gradient( 224deg, hsl(240deg 100% 50%) 2%, hsl(249deg 100% 59%) 63%, hsl(252deg 99% 64%) 78%, hsl(253deg 98% 68%) 87%, hsl(254deg 96% 73%) 92%, hsl(253deg 93% 77%) 96%, hsl(251deg 89% 81%) 98%, hsl(246deg 81% 85%) 99%, hsl(232deg 68% 88%) 100%, hsl(200deg 53% 90%) 100% );
  color: #fff;
}

.header__container {
  max-width: 320px;
  margin: 0 auto;
}

.header__title {
  margin-bottom: 4px;
}

.header__title p {
  font-size: 1.4rem;
}

.todo__date-container {
  display: flex;
  gap: 4px;
}

.todo__date {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.todo__input {
  width: 88%;
  height: 45px;
  padding: 0 1.2rem;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
  font-size: 24px;
  background: white;
}

.todo__input:focus-visible {
  outline: none;
}

.todo__input::-webkit-input-placeholder {
  font-style: italic;
}

.header .material-symbols-outlined {
  vertical-align: sub;
  font-size: 32px;
  font-weight: bold;
}

.todo__container {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
}


.todo__list {
  list-style: none;
}

.todo__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 16px;
  border-bottom: 1px solid #ededed;
  font-size: 24px;
}

.todo__item#empty {
  justify-content: center;
  font-style: italic;
  color: #949494;
}

.todo__actions--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 24px;
  font-size: 1.4rem;
}

.todo__nav {
  margin-left: auto;
  display: inline-block;
  list-style: none;
}

.todo__nav li {
  display: inline-block;
}

.todo__nav a {
  padding: 3px 7px;
  border: solid 1px transparent;
  border-radius: 3px;
  text-decoration: none;
  color: inherit;
}

.todo__nav a.active {
  border-color: #4c33b1
}

.todo__nav a:hover {
  border-color: #6e49fe;
}


.todo__text {
  margin-left: 16px;
}

.todo__text+span {
  margin-left: auto;
}


.task-completed {
  text-decoration: line-through;
  color: #949494;
}

.clear__buttons-container {
  margin-top: 16px;
}

.clear__buttons-container button {
  margin: 0 6px;
  border: none;
  background-color: inherit;
}

.clear__buttons-container button:hover {
  text-decoration: underline;
  cursor: pointer;
}



